<footer class="footer">
  <p class="text-center">
  Hergestellt in der Schweiz. ♥︎ 
  </p>
  <p class="text-center">
  <a href="https://github.com/miro-jelaska/unregelmaessige-verben" 
  target="_blank" 
  rel="noopener noreferrer">
  Das Projekt ist <u>Open-source</u>.
  </a>
  </p>
  <p class="text-center">
  Erstellt von  Miro Jelaska
  </p>
</footer>

<style>
.footer {
  padding: 4rem 0;
  font-size: small;
  color: #5f5f5f;
  text-align: center;
  p {
    margin: 0;
  }
  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */ 
    &:hover {
      font-weight: 600;
    }
  }
}
:global([data-bs-theme="dark"]) {
  .footer > p {
    color: #bcbcbc;
  }
}
</style>