---
import allVerbs from "../data/uregelmassige_verben.yml";
import VerbTableRow from "./VerbTableRow.astro";
---
<main>
  <div class="filter-row__outer-wrapper">
    <div class='filter-row row'>
      <div class="row">
        <div class='col'>
          <div class="input-group input-group-sm">
            <span class="input-group-text">Icon</span>
            <input 
              type="text" 
              class="form-control form-control-sm" 
              placeholder="Schreib zu suchen..." 
              aria-label="Schreib zu suchen..."
              aria-describedby="Suchen"/>
          </div>
        </div>

        <div class='col'>
          <div class="form-group haben-or-sein-filter-container">
            <select
              class="form-select form-select-sm"
              aria-label="Filtern nach haben oder sein"
            >
              <option value="haben_and_sein">haben & sein</option>
              <option value="haben">haben
              </option>
              <option value="sein">sein</option> 
            </select>
          </div>
        </div>
        <div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class='table-wrapper'>
      <div class="table">
        <div class="table-head">
          <div id="x-table-header--frequency" 
            class="cell cell__freq is-clickable">
            Freq.
            <span></span>
            <!-- {orderByFilter === 'freq_asc' && ' ↑'}
            {orderByFilter === 'freq_desc' && ' ↓'} -->
          </div>
          <div 
            id="x-table-header--verb"  
            class="cell is-clickable">
            Verb
            <span></span>
          </div>
          <div class="cell is-table-cell-hidden-on-mobile">Präsens</div>
          <div class="cell is-table-cell-hidden-on-mobile">Präteritum</div>
          <div class="cell is-table-cell-hidden-on-mobile">Perfekt</div>
          <div class="cell cell__vowel is-table-cell-hidden-on-mobile"></div>
          <div class="cell cell__external">
            <div style={{padding: 0}}>
              <button type="button" class="btn btn-primary btn-sm">
                <!-- {toggledExplanationVerbs.length === 0 && "Aufklappen"}
                {toggledExplanationVerbs.length !== 0 && "Einklappen"} -->
              </button>
            </div>
          </div>
        </div>
        <div class="table-body">
          {
            allVerbs.map(x => 
              <VerbTableRow definition={x} />
            )
          }
        </div>
      </div>
    </div>
</main>